body{background-color:rgb(173, 216, 230);}

*{box-sizing: border-box;

font-family: 'Montserrat', sans-serif;

}


.name {
  width: 100%;
  overflow: auto;
  font-size: 50px;
}

.name a {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 30px;
  width: 10%; 
  text-align: center;
}

.navbar {
  width: 100%;
  overflow: auto;
}

.navbar a {
  float: right;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 30px;
  width: 10%; 
  text-align: center;
}

@media screen and (max-width: 50px) {
  .navbar a {
    float: none;
    display: block;
    width: 50%;
    text-align: left;
  }
}

header{
  background-color: rgba(173, 216, 230, 0.9);
  padding: 30px;
  border-radius: 5px;
}


.hours{
  float: right;
  color: black;
  display: block;
  height: 300px;
  clear: none; 
  display:inline-block;
  padding: 10px;
  padding-right: 175px;
  font-size: 25px;


}

main{
   background-color:rgba(255,255,255, 0.8);
   border-radius: 5px;
}

.follow{
  clear: both;
  padding-left: 25px;
  padding-top: 40px;
  color:black;
}

footer{
  background-color: rgba(173, 216, 230, 0.9);
  border-radius: 5px;
     }

 ul {
  list-style-type: none;
 }

.footer-social-icons{
  padding-left: 200px;
  padding-bottom: 20px;
}

.mapouter{
  float:left;
  padding-left:200px;
  border-radius: 5px;
}

.home-pic{
  padding-left: 200px;
  padding-right: 200px;
}
